<nav>
  <ul>
    <li><a [routerLink]="homeRoute">Home</a></li>
    <li><a routerLink="/events">Events</a></li>
    <li><a routerLink="/locations">Locations</a></li>
    <li *ngIf="isLoggedIn && isManager"><a routerLink="/my-locations">My Locations</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/profile">My Profile</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li *ngIf="isAdmin"><a routerLink="/requests">Requests</a></li>
    <li *ngIf="isLoggedIn"><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
  </ul>
</nav>
